html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    background:white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(155, 155, 156);
    width: 5px;
  }

body{
    background-color: white;
    border: 10px solid #6C63FF;
    padding: 10px
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.logo {
    width: 50%;
}

.pic {
    width: 40%;
}
@media (max-width: 770px) {
    .container {
        margin: 0 10%;
        margin-bottom: 20px;
    }

    .image {
        width: 100%;
    }
}